<div class="card">
    <div class="card-header">
        <div class="float-left">
            <h1>PRODUTOS</h1>
        </div>
        <div class="float-right">
            <button type="button" class="btn btn-primary" [routerLink]="['/produtos/novo']">Novo Produto</button>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>TITULO</th>
                    <th>PREÇO</th>
                    <th>CATEGORIA</th>
                    <th>DESCRIÇÃO</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let produto of produtos">
                    <td>{{produto.id}}</td>
                    <td>{{produto.titulo}}</td>
                    <td>{{produto.preco | currency}}</td>
                    <td>{{produto.categoria}}</td>
                    <td>{{produto.descricao}}</td>
                    <td>
                        <span class="float-right">
                            <button type='button' class="btn btn-primary btn-sm"
                                (click)="onEdit(produto.id)">                           
                                ALTERAR
                            </button>
                            
                            <button type='button' class="btn btn-danger btn-sm" 
                                (click)="deleteProdutos(produto)">
                                DELETAR
                            </button>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>