
@import "~bootstrap/dist/css/bootstrap.css";
.image{
  height:54.1em; background-size:cover; width:auto;
  background-image: url('/assets/img/fundolaranja.jpg');
  background-position:50% 50%;
}

  .container {
    margin-top: 30px;
}

.add-prod {
    margin-bottom: 30px;
}

.btn-add-prod {
    margin-right: 10px;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed; 
  z-index: 1; 
  top: 6.85%; 
  left: 0;
  background-color: rgba(0, 0, 0, 0.39);
  overflow-x: hidden; 
  padding-top: 50px;
}


.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  display: block;
}


.sidenav a:hover {
  color: #f1f1f1;
}


.main {
  margin-left: 160px; 
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 10px;}
  .sidenav a {font-size: 18px;}
}