.image{
    height:54.1em; background-size:cover; width:auto;
    background-image:url('C:/Users/RICARDOSCHISZLERLOUR/Desktop/ProjetoAngularCLI/FormularioCloudDog/src/assets/img/template.png');
    background-position:50% 50%;
  }