<div>
  <h1>Editar Produto</h1>
</div>
<form class="example-container" [formGroup]="productForm" (ngSubmit)="updateProduto(productForm.value)">
  <label for="lbltitulo">Titulo: </label>
  <div class="form-group">
      <input type="text" name="titulo" class="form-control" placeholder="Nome do Produto" formControlName="titulo">
  </div>

  <label for="lblcategoria">Categoria: </label>
  <div class="form-group">
    <input type="text" name="categoria" class="form-control" placeholder="Categoria do Produto" formControlName="categoria" disabled>
  </div>

  <label for="lblpreco">Preço: </label>
  <div class="form-group">
      <input type="number" name="preco" class="form-control" placeholder="Preço do Produto" formControlName="preco">
  </div>

  <label for="lbldescricao">Descrição: </label>
  <div class="form-group">
      <input type="text" name="descricao" class="form-control" placeholder="Descrição do Produto" formControlName="descricao">
  </div>

      <button type="submit" [disabled]="!productForm.valid" color="primary" class="btn btn-primary" >Editar</button>
      <button type="button" color="primary" class="btn btn-primary" routerLink="/produtos" >Voltar</button>
      </form>